body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: grid;
}

.header {
  background-color: #010202;
}

h1 {
  font-size: 4rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.title {
  font-weight: bold;
  letter-spacing: 2px;
  font-family: Arial, Times, serif;

}


/* Container holding the image and the text */
.header {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 80%;
  place-self: center;
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: white;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 50px;
  font-family: Arial, Times, serif;

}

/* Add a white background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #333;
  text-align: center;
  padding: 0.9% 0.75%;
  text-decoration: none;
  font-size: 96%;
  letter-spacing: 1px;
  font-family: Arial, Times, serif;

}

.topnav .title {
  float: left;
  color: #333;
  text-align: center;
  padding: 0.9% 1%;
  text-decoration: none;
  font-size: 85%;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #cccccc;
  color: rgb(0, 0, 0);
}



/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Photos and details about storage */

.layer {
  float:left;
  display: flex;
  margin-bottom: 0px;
  margin-top: -600px;
  letter-spacing: 2px;
  font-family: Arial, Times, serif;
  padding:20px 0px;
}

.full{
  float: left;
  margin-top: 30px;
}



.half{
  margin-left: auto;
  margin-top: -620px ;
}
.layer .text {
  width: 50%;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #333;
}

/* from contact */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4CAF50;
}

p {
  text-align: center;
  font-size: 18px;
}

.round {
  border-radius: 5px;
  float: left;
  padding: 0%;
}

.straight {
  align-items: center; 
  float: left;
}

.multi{
  float: left;
padding: 5px;
}

/*about page */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px;
}

.aboutimage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  
  height: auto;
  margin: 1%;
}

.item{
  border-radius: 15%;
  max-width: 100%;
  
}
.internetimages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.internetimg{
  width:30%;
  height:auto;
  max-width: 100%;
}
/* containerinfo section */


.portinfo {
  padding: 6%;
}


 /* Pricing */

 table {
  margin-top: 50px;
  width: 400px;
  border-spacing: 40px;

}

th {
    text-align: left;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bottom of index page */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* Responsive layout - makes the menu stack on top of each other */
@media (max-width: 992px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


